---
import Layout from '@/layouts/Layout.astro';
import { ExpenseInput } from '@/components/feature/home/ExpenseInput';
import { getDrizzle } from '@/db/drizzle';
import { categories } from '@/db/schema';

const db = getDrizzle(Astro.locals.runtime.env.DB);
const allCategories = await db.select().from(categories).orderBy(categories.order).all();
---

<Layout title="Home">
  <main class="h-full pb-20">
    <ExpenseInput categories={allCategories} client:load />
  </main>
</Layout>
